@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
  --spacing: 1.6rem;
  --text-link: #ffbb00;
}

* {
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: black;
}

#root,
.App {
  width: 100%;
  height: 100%;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
}

.App::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

footer {
  background-color: rgba(255, 255, 255, 0.05);
  padding: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

footer a {
  height: 2rem;
}

h2 {
  font-size: 1.2rem;
}

p,
li,
a {
  font-size: 0.9rem;
  line-height: 1.6rem;
  font-weight: 300;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing);
}

a {
  font-weight: 500;
  color: var(--text-link);
}

a:hover {
  opacity: 0.5;
}

#profile {
  width: 140px;
  aspect-ratio: 1/1;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--spacing) * 2 / 3);
}

.heading {
  display: grid;
  gap: 0.3rem;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: calc(var(--spacing) * 2 / 3);
}

.social a {
  width: 2.5rem;
  height: 2.5rem;
}

.social img {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(1);
}

.email {
  display: inline;
  line-height: 2rem;
  width: 2rem;
  height: 2rem;
  filter: invert(1);
}

.banner {
  background-color: rgba(255, 255, 255, 0.05);
  padding: calc(var(--spacing) * 0.7);
  text-align: center;
}

.section {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: flex-start;
  gap: 10px;
}

.outlined-bubble {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid rgba(255, 187, 0, 0.5);
}
